/* TODO : Présenter le formulaire à la verticale */
#form-primary-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%; 
    padding-bottom: 10%; 
}

/* TODO : Aligner correctement le contenu  */
.data-container * { 
}

.data-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#image {
    direction: rtl; 
}

/* CSS fourni */

h1 {
    text-align: center;
}

#form-primary-content legend {
    font-weight: bold;
}

.data-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px; 
}

fieldset {
    margin: 10px;
}

input,
select {
    padding: 6px 12px 6px 12px;
    border-radius: 5px;
    border-style: none;
}